# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Dependencies
node_modules/

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Env / secrets
.env
.env.local
.env.*.local
